* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eceef1;
}

.main-content {
  width: 100%;
}

#navigation-wrapper {
  justify-content: flex-end;
  width: 100%;
  padding: 10px 35px 10px 35px;
  display: flex;
}

.navigation-alignment {
  display: inline-flex;
  flex-direction: column;
  height: 40px;
  justify-content: flex-start;
  align-items: flex-end;
  padding-top: 2px;
}

body > div,
h1,
h2,
h3,
h4,
h5,
span,
label {
  font-family: Arial, Helvetica, sans-serif;
  color: #4c4c4c;
}

button > span {
  font-size: 16px;
  font-weight: 300;
  color: white;
  margin-left: 6px;
}

li > span {
  font-size: 18px;
  color: #7e7e7e;
  font-weight: 100;
}

.navigation-alignment span {
  display: inline-block;
  font-size: 13px;
}

#account-recovery {
  color: #0077c5;
  cursor: pointer;
}

.sign-in-button {
  width: 103px;
  height: 35px;
  background: #0077c5;
  border: 1px solid;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.sign-in-button > i {
  font-size: 10px;
}

#sign-in-text {
  font-size: 13px;
  margin-left: 4px;
}


#content {
  background-color: transparent;
  width: 380px;
}

.style-flex {
  display: flex;
  flex-direction: column;
}

.style-center {
  margin: 0 auto 0 auto;
  width: 380px;
  align-items: center;
  text-align: center;
}

div > label {
  margin-left: 30px;
}

#content > img,
h2 {
  width: 380px;
}

#content > section {
  margin: auto;
}

.form-title {
  font-weight: 100;
  font-size: 25px;
  color: #4c4c4c;
  margin-bottom: 15px;
}

.form-description {
  font-weight: lighter;
  font-size: 14px;
}

.logos-container {
  background-color: transparent;
  align-items: center;
  margin: 0 auto 20px auto;
  cursor: pointer;
}

#content > div > img {
  width: 150px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin-right: 10px;
  cursor: pointer;
}

#icon-one {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+PGcgZmlsbD0ibm9uZSI+PGNpcmNsZSBjeD0iMTAiIGN5PSIxMCIgcj0iMTAiIGZpbGw9IiMwMEE2QTQiLz48cGF0aCBmaWxsPSIjRkZGIiBkPSJNMTAgMi43NzdjLS42NTguNjYtNS4xNzQgNS4zMDktNS4xNzQgOC45MyAwIDIuNTc4IDIuMDU1IDMuNDMyIDUuMTc0IDUuNTU0IDMuMTItMi4xMjIgNS4xNzQtMi45NzYgNS4xNzQtNS41NTQgMC0zLjYyMS00LjUxNS04LjI3LTUuMTc0LTguOTN6bTAgMTIuNzQ4bC0uNjA3LS4zOTdjLTIuMzItMS41MTEtMy4xMjMtMi4xMDEtMy4xMjMtMy40MjEgMC0yLjA0NCAyLjAyOC00Ljg4OCAzLjczLTYuODE2djEwLjYzNHoiLz48L2c+PC9zdmc+)
    no-repeat;
}

#icon-two {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii01OTguNSA5NzEuNSA1MCA1MCI+PGNpcmNsZSBjeD0iLTU3My41IiBjeT0iOTk2LjUiIHI9IjI1IiBmaWxsPSIjMmNhMDFjIi8+PHBhdGggZD0iTS01OTEuNSw5OTYuNWMwLDUuNCw0LjQsOS44LDkuOCw5LjhoMS40di0zLjZoLTEuNGMtMy40LDAtNi4yLTIuOC02LjItNi4yczIuOC02LjIsNi4yLTYuMmgzLjQgYzAsMCwwLDE4LjYsMCwxOC44YzAsMiwxLjYsMy42LDMuNiwzLjZ2LTI2LjJjMCwwLTMuOCwwLTcsMEMtNTg3LjMsOTg2LjctNTkxLjUsOTkxLjEtNTkxLjUsOTk2LjV6IE0tNTY1LjEsOTg2LjdoLTEuNHYzLjZoMS40IGMzLjQsMCw2LjIsMi44LDYuMiw2LjJzLTIuOCw2LjItNi4yLDYuMmgtMy40YzAsMCwwLTE4LjYsMC0xOC44YzAtMi0xLjYtMy42LTMuNi0zLjZ2MjYuMmMwLDAsMy44LDAsNywwYzUuNCwwLDkuOC00LjQsOS44LTkuOCBDLTU1NS41LDk5MS4xLTU1OS43LDk4Ni43LTU2NS4xLDk4Ni43eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==)
    no-repeat;
}

#icon-three {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii01OTguNSA5NzEuNSA1MCA1MCI+PGNpcmNsZSBjeD0iLTU3My41IiBjeT0iOTk2LjUiIHI9IjI1IiBmaWxsPSIjZDUyYjFlIi8+PHBhdGggZD0iTS01NzkuMSwxMDA1LjdjLTIuOC0yLTUuNi00LjItOC4yLTYuNmMtMSwyLjItMS44LDQuNC0yLjYsNi42YzQuMiwzLjYsOS44LDcuNiwxMy44LDEwIGM1LTEzLDEyLjgtMjEuNCwyMC40LTI3LjRjLTEtMi0yLjItMy44LTMuOC01LjRDLTU2Ny43LDk4OC45LTU3NC4zLDk5Ni43LTU3OS4xLDEwMDUuN3oiIGZpbGw9IiNmZmYiLz48L3N2Zz4=)
    no-repeat;
}

#form-container {
  background-color: white;
  border: 1px solid #c7c7c7;
  margin-bottom: 34px;
  padding-top: 25px;
}

form > h5 {
  margin-top: 0;
  margin-bottom: 0;
}

.text-form {
  margin-right: 100px;
  margin-top: 0;
  margin-bottom: 0;
}

.text-alignment {
  width: 100%;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 10px;
}

.form-button {
  width: 328px;
  height: 44px;
  background-color: #0077c5;
  border: none;
  margin-top: 30px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 black;
}

#form-button span {
  font-size: 16px;
  font-weight: 300;
  color: white;
  margin-left: 6px;
}

.padlock-style {
  color: white;
}

.input-style {
  width: 320px;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #c1c5c8;
}

.statement {
  width: 330px;
}

.statement > h5 {
  font-size: 12px;
  font-style: italic;
  line-height: 20px;
  margin: 35px 0;
}

.form-footer {
  background-color: #eceef1;
  padding: 20px 0;
  position: relative;
  width: 100%;
}

form div h5 {
  font-size: 10px;
  color: #757575;
  font-weight: lighter;
}

form a {
  color: #0077c5;
  cursor: pointer;
}

.privacy-tab {
  position: fixed;
  right: 85px;
  bottom: 0;
  padding: 12px 10px;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  background-color: #666666;
  cursor: pointer;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.privacy-tab > span {
  color: white;
  margin: auto;
}

footer {
  margin-top: 30px;
  margin-bottom: 30px;
}

#copyright-container {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

#copyright-container span {
  font-size: small;
}

#politics {
  display: flex;
  justify-content: space-between;
  width: 170px;
}

#politics > a > span {
  color: #0077c5;
}

#politics > a:hover {
  cursor: pointer;
  text-decoration: underline;
}
