
body{
  background-color: #eceef1;
}

#main{
  width: 100%;
}

.style-flex{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
}



.logos-container{
  width: 35%;
  background-color: transparent;
  margin-top: 60px;
  align-items: center;
}

.form-container{
  margin-top: 20px;
  align-items: center;
  background-color: white;
  width: 35%;
}
