

.main-container{
  display: inline-flex;
  flex-direction: column;
  justify-items: center;
  padding: 100px 8px 8px 8px;
  background-color: orange;
}

.logos-container{
  display: inline-block; 
  width: 500px;
  height: 100px;
  background-color: green;
}

.form-container{
  display: inline-block; 
  width: 500px;
  height: 600px;
  justify-items: center;
  padding: 56px 46px 46px 46px;
  background-color: rgb(34, 143, 119);
}
